@import "custom-theme";

html {
  --antd-wave-shadow-color: none;
}

.authModal {
  .ant-modal-body {
    display: none;
  }
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: rgb(165, 165, 165);
}
.embedEditor {
  width: 900px !important;
}
